@use "../variables" as *;

.related {
    margin-top: 2rem;
    .wrapper {
        border-top: 1px solid $tertiary;
        border-bottom: 1px solid $tertiary;
        padding-top: 1rem;
        li {
            margin: 1rem 0rem;

            h3 {
                text-transform: uppercase;
                margin-bottom: 0;
            }

            p {
                margin: 0;
            }

            span {
                text-transform: capitalize;
                font-family: $headingFont;
                font-weight: 700;
            }
        }
    }

}