@use "../variables.scss" as *;

.contactForm {
    margin-top: 2rem;

    h2 {
        padding-top: 0;
    }

    input {
        padding: .5rem;
        width: 100%;
        margin: .5rem 0rem;
        font-family: $baseFont;
        font-size: .7rem;
        background-color: $secondary;
        border-color: $secondary;
        border-style: solid;
    }

    &::placeholder {
        font-family: $baseFont;
        font-size: .7rem;
    }

    textarea {
        padding: .5rem;
        width: 100%;
        margin: .5rem 0rem;
        font-family: $baseFont;
        font-size: .7rem;
        background-color: $secondary;
        border-color: $secondary;
        border-style: solid;
        height: 10rem;
    }

    button {
        @include bodyStyle;
        background-color: #FFF;
        color: $primary;
        text-transform: uppercase;
        display: block;
        margin: 0 auto;
        border-style: none;
        font-size: .8rem;
        font-weight: 700;
        margin: 0 auto;
        padding: .4rem 2.5rem;
    }
}

.contactDetails {
    padding-top: 1rem;
    background-color: $secondary;

    h3 {
        text-transform: uppercase;
    }

    .hours {
        h3 {
            margin-bottom: .5rem;
        }

        p {
            margin: 0;
            max-height: 1.4rem;

            span {
                @include bodyStyle;
                font-size: .6rem;
                text-transform: uppercase;
                font-weight: 700;
                color: $footerColor;
            }
        }

        em {
            @include bodyText;
            color: $tertiary;
        }
    }

    ul {
        margin-bottom: 0;
        padding-bottom: 1rem;

        li {
            margin: .5rem 0rem;
            @include bodyText;
            color: $tertiary;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

}

.banner {
    background-image: url('../assets/contact-2.jpeg');
    height: 32vh;
    background-position: -58rem;
    background-size: 40rem;
}