@use "../variables.scss" as *;

.contactDetails {
    h3 {
        text-transform: uppercase;
    }

    .hours {
        h3 {
            margin-bottom: .5rem;
        }

        p {
            margin: 0;

            span {
                @include bodyStyle;
                font-size: .6rem;
                text-transform: uppercase;
                font-weight: 700;
                color: $footerColor;
            }
        }

        em {
            @include bodyText;
            color: $tertiary;
        }
    }

    li {
        margin: .5rem 0rem;
        @include bodyText;
        color: $tertiary;
    }
}