@use "./variables.scss" as *;

.wrapper {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

hr {
    color: $primary;
}

// Typography
body {
    font-family: $baseFont;
}

h1 {
    @include titleText;
}

h2 {
    @include titleText;
    font-size: 1.2rem;
}

h3 {
    @include bodyStyle;
}

p {
    @include bodyText;
    color: $tertiary;
}

a {
    font-family: $headingFont;
    color: $accent;
    font-weight: 700;
    &:active {
        color: $primary;
    }
}