@media (min-width: 520px) {
    .gallery {
        .galleryImages {
            display: flex;
            flex-wrap: wrap;
            li {
                width: 50%;
                position: static;
            }
        }
    }
}

@media (min-width: 1000px) {
    .gallery .galleryImages li {
        width: calc(100% / 3);
    }
}