@use "../variables.scss" as *;

.gallery {
    ul {
        margin: 0;
        padding-bottom: 0;
    }
    .galleryImages {
        position: relative;
    }
    .galleryButtons {
        display: flex;
        justify-content: space-evenly;
        font-size: 1.5rem;
    }
}