@media (min-width: 375px) {
    .recipes {
        article {
            padding-top: 1rem;
            img {
                max-width: 375px;
                margin: 0 auto;
            }
        }
    }

    p {
        max-width: 20rem;
        margin: 1rem auto;
    }
}

@media (min-width: 750px) {
    .recipes .wrapper {
        width: 90%;

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding-bottom: 1rem;
            margin-left: 2.5rem;

            li {
                width: calc(40% - 20px);
                position: relative;

                i {
                    position: absolute;
                    left: -2.6rem;
                    top: 1.1rem;
                }
            }
        }
    }

}

@media (min-width: 1240px) {
    .recipes {
        article {
            display: flex;
            padding-top: 0;

            &:first-child {
                flex-direction: row-reverse;

                p {
                    max-width: 80%;
                    align-self: center;
                }
            }

            figure {
                width: 50%;
                img {
                    max-width: 100%;
                    max-height: 100%;
                    margin: 0;
                }
            }

            .wrapper {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                ul {
                    margin: 0;
                    height: 100%;
                    padding-left: 2rem;
                    padding-bottom: 0;
                    margin-left: 0;

                    li {
                        width: 40%;

                        h3 {
                            margin-bottom: 0;
                        }

                        p {
                            margin: 0;
                            font-size: .6rem;
                        }
                    }

                }
            }
        }
    }

}