@use "../variables.scss" as *;

.recipes {
    h2,
    p {
        text-align: center;
    }

    button {
        @include bodyStyle;
        background-color: $primary;
        color: $secondary;
        text-transform: uppercase;
        display: block;
        margin: 0 auto;
        border-style: none;
        font-size: .6rem;
        font-weight: 700;
        margin: 1.5rem auto;
        padding: .4rem 2.5rem;
    }
article:last-child {
    background-color: $secondary;
}
    li {
        .recipeCategory {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h3 {
                padding-right: 1rem;
                text-transform: uppercase;
            }

            i {
                font-size: 1.5rem;
            }
        }

        p {
            text-align: left;
        }
    }
}

@media (max-width: 900px) {
    img {
        max-height: 14rem;
    }
    ul {
        padding-bottom: 1rem;
        margin-bottom: 0;
    }
}

@media (min-width: 900px) {
    .recipes {
        article {
            display: flex;

            &:first-child {
                flex-direction: row-reverse;
                p {
                    max-width: 80%;
                    align-self: center;
                }
            }

            figure {
                width: 50%;
            }

            .wrapper {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                margin: 0;
                height: 100%;
                padding-left: 2rem;

                li {
                    width: 40%;
                    position: relative;

                    h3 {
                        margin-bottom: 0;
                    }

                    i {
                        position: absolute;
                        left: -2.6rem;
                        top: 1.1rem;
                    }

                    p {
                        margin: 0;
                        font-size: .6rem;
                    }
                }
            }
        }
    }
}