@media (min-width: 650px) {
    .testimonial .quote {
        max-width: 25rem;
        margin: 0 auto;
        .fa-quote-left {
            top: -.5rem;
            left: -3rem;
            font-size: 2.25rem;
        }

        .fa-quote-right {
            bottom: -.5rem;
            right: -3rem;
            font-size: 2.25rem;
        }
    }
}