@import url("https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Raleway:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 125%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

figure {
  margin: 0;
  position: relative;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

hr {
  color: #64A604;
  width: 2rem;
  border: 2px solid;
}

button:active {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

body {
  font-family: "Lora", serif;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 2.3rem;
  text-transform: uppercase;
  line-height: 1.2rem;
  letter-spacing: 0.1px;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2.3rem;
  text-transform: uppercase;
  line-height: 1.2rem;
  letter-spacing: 0.1px;
  font-size: 1.2rem;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  line-height: 1.8rem;
  letter-spacing: 0.5px;
}

p {
  font-family: "Lora", serif;
  font-size: 0.7rem;
  line-height: 1.2rem;
  letter-spacing: 0.3px;
  color: #999999;
}

a {
  font-family: "Raleway", sans-serif;
  color: #2E2E2E;
  font-weight: 700;
}
a:active {
  color: #64A604;
}

.navMenu {
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #F6F6F6;
  width: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 10;
}
.navMenu:target {
  width: 50vw;
  -webkit-box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.5);
}
.navMenu .navMenuClose {
  position: relative;
  top: 0.6rem;
  left: 0.6rem;
}
.navMenu li {
  padding: 0.8rem;
}

.activePage a {
  color: #64A604;
  pointer-events: none;
}

header {
  height: 75vh;
  background-size: cover;
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .wrapper h1 {
  margin: 0;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
}
header .wrapper .navMenuToggle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
}
header .wrapper li {
  position: relative;
}
header .wrapper li span {
  position: absolute;
  background-color: #64A604;
  color: #F6F6F6;
  border-radius: 100%;
  padding: 0.1rem 0.4rem;
  font-size: 0.8rem;
  font-family: "Raleway", sans-serif;
}

.indexHeader {
  background-image: url("../assets/home-1.jpeg");
}

.blogHeader {
  background-image: url("../assets/blog-1.jpeg");
}

@media (max-width: 900px) {
  header.indexHeader {
    background-position: -34rem;
  }
  header.blogHeader {
    background-position: -27rem;
  }
  header .navBar {
    display: none;
  }
  header span {
    bottom: 0.2rem;
    left: 1rem;
  }
}
@media (min-width: 900px) {
  header {
    height: 100vh;
  }
  header .navBar {
    position: absolute;
    right: 1rem;
  }
  header .navBar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .navBar ul li {
    padding-right: 1rem;
  }
  header .navBar ul li span {
    top: 0.5rem;
    left: 0.2rem;
  }
  header .navMenuToggle {
    display: none;
  }
}
footer {
  background-color: #333;
}
footer h2 {
  font-size: 2rem;
  color: #64A604;
  padding-top: 2rem;
  margin-top: 0;
}
footer h3 {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  line-height: 1.2rem;
  letter-spacing: 0.5px;
  color: #F6F6F6;
}
footer p {
  margin: 0;
  font-size: 0.6rem;
}
footer li {
  font-family: "Lora", serif;
  font-size: 0.7rem;
  line-height: 1.2rem;
  letter-spacing: 0.3px;
  color: #999999;
  border-top: 1px solid #999999;
  padding: 0.5rem 0;
  font-size: 0.6rem;
}
footer ul:first-of-type {
  margin-top: 0;
}
footer ul:first-of-type p:first-of-type {
  padding-bottom: 0.8rem;
}
footer ul:last-of-type li:active {
  color: #64A604;
}
footer ul:last-of-type li:first-of-type {
  border-top-color: #333;
}
footer .subscribe form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}
footer .subscribe form input {
  background-color: #696969;
  border-style: none;
  padding: 0.4rem;
  font-family: "Lora", serif;
  font-size: 0.7rem;
  line-height: 1.2rem;
  letter-spacing: 0.3px;
  color: #F6F6F6;
  font-size: 0.6rem;
  width: 80%;
}
footer .subscribe form input::-webkit-input-placeholder {
  font-family: "Lora", serif;
  font-size: 0.7rem;
  line-height: 1.2rem;
  letter-spacing: 0.3px;
  color: #F6F6F6;
  font-size: 0.6rem;
  font-style: italic;
}
footer .subscribe form input::-moz-placeholder {
  font-family: "Lora", serif;
  font-size: 0.7rem;
  line-height: 1.2rem;
  letter-spacing: 0.3px;
  color: #F6F6F6;
  font-size: 0.6rem;
  font-style: italic;
}
footer .subscribe form input:-ms-input-placeholder {
  font-family: "Lora", serif;
  font-size: 0.7rem;
  line-height: 1.2rem;
  letter-spacing: 0.3px;
  color: #F6F6F6;
  font-size: 0.6rem;
  font-style: italic;
}
footer .subscribe form input::-ms-input-placeholder {
  font-family: "Lora", serif;
  font-size: 0.7rem;
  line-height: 1.2rem;
  letter-spacing: 0.3px;
  color: #F6F6F6;
  font-size: 0.6rem;
  font-style: italic;
}
footer .subscribe form input::placeholder {
  font-family: "Lora", serif;
  font-size: 0.7rem;
  line-height: 1.2rem;
  letter-spacing: 0.3px;
  color: #F6F6F6;
  font-size: 0.6rem;
  font-style: italic;
}
footer .subscribe form input:focus {
  outline: none;
}
footer .subscribe form button {
  background-color: #64A604;
  border-style: none;
  padding: 0rem 0.6rem;
}
footer .subscribe form button i {
  color: #F6F6F6;
}
footer .subscribe ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .subscribe ul li {
  border-top: #333;
  margin-right: 1rem;
}
footer .subscribe ul li i {
  font-size: 1rem;
}
footer .subscribe ul li i:active {
  color: #64A604;
}
footer .copyright {
  background-color: #262626;
  padding: 0.8rem 0rem;
}
footer .copyright p {
  font-family: "Raleway", sans-serif;
}
footer .copyright span {
  color: #64A604;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  .copyright p {
    text-align: center;
  }
}
@media (min-width: 900px) {
  .footerContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footerContent ul {
    width: 32%;
    margin-top: 2rem;
  }
  .footerContent h2 {
    padding-top: 0;
    margin-top: 2rem;
  }
  .footerContent h3 {
    margin-top: 0;
  }
  .footerContent .subscribe {
    margin-top: 2rem;
    width: 28%;
  }
}
.recipes h2,
.recipes p {
  text-align: center;
}
.recipes button {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  line-height: 1.8rem;
  letter-spacing: 0.5px;
  background-color: #64A604;
  color: #F6F6F6;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  border-style: none;
  font-size: 0.6rem;
  font-weight: 700;
  margin: 1.5rem auto;
  padding: 0.4rem 2.5rem;
}
.recipes article:last-child {
  background-color: #F6F6F6;
}
.recipes li .recipeCategory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.recipes li .recipeCategory h3 {
  padding-right: 1rem;
  text-transform: uppercase;
}
.recipes li .recipeCategory i {
  font-size: 1.5rem;
}
.recipes li p {
  text-align: left;
}

@media (max-width: 900px) {
  img {
    max-height: 14rem;
  }
  ul {
    padding-bottom: 1rem;
    margin-bottom: 0;
  }
}
@media (min-width: 900px) {
  .recipes article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .recipes article:first-child {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .recipes article:first-child p {
    max-width: 80%;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .recipes article figure {
    width: 50%;
  }
  .recipes article .wrapper {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .recipes article ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0;
    height: 100%;
    padding-left: 2rem;
  }
  .recipes article ul li {
    width: 40%;
    position: relative;
  }
  .recipes article ul li h3 {
    margin-bottom: 0;
  }
  .recipes article ul li i {
    position: absolute;
    left: -2.6rem;
    top: 1.1rem;
  }
  .recipes article ul li p {
    margin: 0;
    font-size: 0.6rem;
  }
}
.restaurants {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
}
.restaurants .stamp {
  position: absolute;
  max-width: 5rem;
  top: -2rem;
  right: -1rem;
}

.gallery ul {
  margin-top: 0;
  padding-bottom: 0;
}

.testimonial {
  text-align: center;
  background-color: #DDED9A;
  padding: 1rem;
}
.testimonial h2 {
  margin: 0;
  padding: 1rem;
}
.testimonial li {
  display: inline;
  padding: 0rem 0.5rem;
}
.testimonial i {
  color: #F6F6F6;
}
.testimonial .quote {
  position: relative;
}
.testimonial .quote .fa-quote-left {
  position: absolute;
  top: -2rem;
  left: 0;
  font-size: 1.5rem;
}
.testimonial .quote .fa-quote-right {
  position: absolute;
  bottom: -2rem;
  right: 0;
  font-size: 1.5rem;
}

.pineapple h2 {
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 3rem;
  margin-bottom: 0;
}
.pineapple p {
  color: #333;
}
.pineapple .byline {
  font-family: "Raleway", sans-serif;
  color: #333;
}
.pineapple .tags {
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  margin: 2rem 0rem;
}
.pineapple .tags ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  max-height: 2.5rem;
}
.pineapple .tags ul h3 {
  text-transform: uppercase;
}
.pineapple .tags ul h3:first-child {
  padding-right: 0.25rem;
}
.pineapple .tags ul li {
  font-size: 0.7rem;
  color: #999999;
  padding: 0.1rem;
}
.pineapple .tags ul li i {
  padding: 0.5rem;
}

.author {
  text-align: center;
}
.author figure {
  background: #F6F6F6;
  padding-top: 2.5rem;
}
.author figure img {
  max-width: 11rem;
  margin: 0 auto;
}
.author article {
  background-color: #F6F6F6;
  padding: 0.5rem;
}
.author h2 {
  text-transform: uppercase;
  font-size: 1.3rem;
}

.related {
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  margin-top: 2rem;
  padding-top: 1rem;
}
.related h2 {
  text-align: center;
}
.related li {
  margin: 1rem 0rem;
}
.related li h3 {
  text-transform: uppercase;
  margin-bottom: 0;
}
.related li p {
  margin: 0;
}
.related li span {
  text-transform: capitalize;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}